<% content_for :title, "Groups" %>
<h2 class="breadcrumb">
  <%= link_to "Home", root_path %>&nbsp;/&nbsp;
</h2>

<h1 class="main-title">Groups</h1>

<div class="hr_dl flush"><%= image_tag("bl.png", :alt => "") %></div>

<br />
<div class="mc-indent">
<h2><%= link_to 'Add', new_group_path, :class => "link-button" %></h2>
<% unless @groups.empty? %>
<table cellpadding="0" cellspacing="0" width="100%" class="docs">
  <thead>
    <tr class="cat_title">
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to group, :style => "text-align: center;" do %><h2><%= group.name %></h2><% end %></td>
        <td>
          <span>
            <%= link_to 'Edit', edit_group_path(group), :class => 'edit-link' %>&nbsp;
            <%= link_to 'Remove', group_path(group), :confirm => 'Are you sure you want to remove this group?', :method => :delete, :class => 'cancel-link' %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<div style="clear:both;"></div>

  <br />
</div>
