<div class="panel panel-default">
  <ol class="breadcrumb">
    <li><%= link_to "Home", categories_path %></li>
    <li class="active"><%= @group.name.capitalize %></li>
    <% if admin? %>
      <div class="pull-right"><%= link_to "Edit", edit_group_path(@group), :class => "btn btn-primary btn-xs" %></div>
    <% end %>
  </ol>

  <div class="panel-body">
    <h3> 
      <%= @group.name.capitalize %>
    </h3>
    <hr />

    <% if @group.category_names.length > 0 %>
      <h4> Categories </h4>
        <%= @group.category_names %>
      <hr />
    <% end %>

    <% if @group.leader_names.length > 0 %>
      <h4> Leaders </h4>
      <%= @group.leader_names %>
    <% end %>

    <% if @group.member_names.length > 0 %>
      <h4> Members </h4>
      <%= @group.member_names %>
    <% end %>

    <% if @group.documents.length > 0 %>
      <br />
      <h4> Documents Uploaded </h4>
      <% @group.documents.each do |doc| %>
        <%= render partial: "documents/document_list_item", locals: {doc: doc} %>
      <% end %>
    <% end %>

  </div>

</div>