<h1 class="main-title">Bulk Add Users</h1>
<div id="result">
<% @users.each do |user| %>
  <% if user.new_record? %>
    Error - <%= user.username unless user.username.blank?%> / <%= user.full_name unless user.full_name.blank? %> <br />
  <% else %>
    OK - <%= link_to user.full_name, user %> <br />
  <% end %>
<% end %>
</div>
<% form_tag(bulkadd_users_path, { :class => 'cmxform' }) do %>
	<fieldset>
		<ol>
			<li>
				<%= label_tag 'csv_data', 'CSV Data' %>
				<%= text_area_tag 'csv_data', "username1, full name1\nusername2, full name2", :rows => 20, :cols => 20 %>
			</li>
		</ol>
	</fieldset>
	<p class="submitbutton"><%= submit_tag 'Create Accounts' %></p>
<% end %>
