<h1>Edit Profile</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>Username: <%= @user.username %></p>
  <p>
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </p>
  <% if @user.allowed_to_write(:is_admin)%>
  <p>
    <%= f.label :is_admin %><br />
    <%= f.check_box :is_admin %>
  </p>
  <% end %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>