<div class="panel panel-default">
  <ol class="breadcrumb">
    <li><%= link_to "Home", categories_path %></li>
    <li class="active">Users Index</li>
  </ol>

  <div class="panel-body">
    <table class="table">
      <tr>
        <th> Username </th>
        <th> Full Name </th>
        <th> Admin Status </th> 
        <th> Actions </th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td> <%= link_to user.username, user %> </td>
        <td> <%= user.full_name %> </td>
        <td> <%= user.is_admin %> </td>
        <td> 
          <% if user.is_admin? %>
            <%= link_to "Demote", admin_status_user_path(user), :class => "btn btn-primary btn-xs" %>
          <% else %>
            <%= link_to "Make Admin", admin_status_user_path(user), :class => "btn btn-primary btn-xs" %>
          <% end %>
          <%= link_to "Delete", user_path(user), method: :delete, :class => "btn btn-primary btn-xs" %>
        </td>
      </tr>
      <% end %> 
  </div>
</div>