<h1>Editing revision</h1>

<% form_for([@revision.document, @revision], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => f %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [@revision.document, @revision] %> |
<%= link_to 'Back', document_revisions_path %>
