<h1>Listing revisions</h1>

<table>
  <tr>
    <th>Position</th>
    <th>Document</th>
    <th>User</th>
    <th>Created</th>
  </tr>

<% @revisions.each do |revision| %>
  <tr>
    <td><%=h revision.position %></td>
    <td><%=h revision.document.title %></td>
    <td><%=h revision.user.full_name %></td>
    <td><%= revision.created_at %></td>
    <td><%= link_to 'Show', document_revision_path(revision.document, revision) %></td>
    <td><%= link_to 'Destroy', document_revision_path(revision.document, revision), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New revision', new_document_revision_path %>
