<h1>New revision for <%=h @revision.document.title %></h1>

<% form_for([@revision.document, @revision]) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => f %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', document_revisions_path %>
