<p>
  <b>Document:</b>
  <%=h @revision.document.title %>
</p>

<p>
  <b>User:</b>
  <%=h @revision.user.full_name %>
</p>

<p>
  <b>Position:</b>
  <%=h @revision.position %>
</p>

<p>
  <b>Download:</b>
  <%= link_to "Here", download_document_revision_path(@revision.document, @revision) unless @revision.upload.url.blank?%>
</p>

<%= link_to 'Edit', edit_document_revision_path(@revision.document, @revision) %> |
<%= link_to 'Back', document_revisions_path %>
