<div class="flush">
	<div class="hr_dl"><%= image_tag("bl.png", :alt => "") %></div>
	<div id="dl" class="fp">
		<div id="dl-padding">
			<div style="float:left; width:630px;">
				<h1>Welcome to Flagship Docs</h1>
				<p>Flagship Docs 2 is an online, open source manager of documents of all shapes, sizes, and formats.  At RPI, Flagship hosts docs from student government and the Rensselaer Union for download by everyone.  If you are a member of an existing student government organization and would like access to post docs, please contact us at the <%= mail_to "web@rpisenate.com", "Web Tech Group", :encode => "hex" %>.</p>
			</div>
			<div style="float:right; width:200px;"><%= image_tag("icons/fs_logo.png", :alt => "") %></div>
			<div style="clear:both;"></div>
		</div>
	</div>
	<div class="hr_dl2"><%= image_tag("bl.png", :alt => "") %></div>
</div>

<div id="mc-indent" class="mc-indent">
	<% @featured_categories.each do |category| %>
		<h1>Featured Category: <%= link_to category.name, category %></h1>
		<br />
		<% if !category.documents.empty? %>
			<% docs = category.documents.find(:all, :order => "updated_at DESC", :limit => 3) %>
			<table cellpadding="0" cellspacing="0" width="100%" class="docs">
				 <thead>
					 <tr class="cat_title">
						<th style="text-align:right;">Title</th>
						<th>Link</th>
						<th style="text-align:left;">Description</th>
						<th>Downloads</th>
						<th>Updated</th>
						<th></th>
					 </tr>
				 </thead>
				 <tbody>
				 <% docs.each do |document| %>
				 <tr class="<%= cycle('odd', 'even') %>">
				  <td><% link_to document do %><h2><%=h document.title %></h2><% end %></td>
				  <td class="doc_img">
				   <% unless document.current_revision.blank? %>
				    <% link_to download_document_revision_path(document, 'current') do %>
				     <%= image_tag("icons/icon_#{document.current_revision.type}_40.png", {:alt => "Download File", :width => "40px", :height => "40px"}) %>
				    <% end %>
				   <% end %>
				  </td>
				  <td><p><%=h document.description %></p></td>
				  <td><%=h document.downloaded %></td>
				  <td><%=h document.updated_at.strftime('%D') %></td>
				  <td>
				   <% if admin_logged_in? || (logged_in? && document.allowed_to_save) %>
				    <span>
				     <%= link_to 'Edit', edit_document_path(document), :class => 'edit-link' %>
				     &nbsp;
				     <%= link_to 'Remove', document_path(document), :confirm => 'Are you sure you want to remove this document?', :method => :delete, :class => 'cancel-link' %>
				    </span>
				   <% end %>
				  </td>
				 </tr>
				 <% end %>
				 </tbody>
			</table>
			<% if category.documents.size > 3 %>
			<br />
			<p style="text-align:right;"><%= link_to "View More...", category %></p>
			<% end %>
		<% end %>
		<div style="clear:both;"></div>
	<% end %>
	<h1>Other Categories</h1>
	<br />
	<% if admin_logged_in? %>
	  <%= link_to 'New Category', new_category_path, :class => "link-button" %>
	  <br /><br />
	<% end %>
	<ul class="iconlist">
		<% @categories.each do |category| %>
	  	<li>
	  		<% link_to category do %>
	  			<div class="iconlist_padding">
        		<div class="ins">
          		<div class="type-folder"><%= image_tag("icons/icon_folder.png", :alt => "Icon_folder") %></div>
        		</div>
        		<h2><%=h category.name %></h2>
      		</div>
	  		<% end %>
	  	</li>
		<% end %>
	</ul>
	<div style="clear:both;"></div>
</div>
