<%= link_to "<< back", category_path(Category.find(@document.category_id)) %>
<div class="document_show">
  <h1> <%= @document.title %> </h1>
  <h4> <%= @document.description %> </h4>
  <br />
  <%= link_to download_document_path, "data-no-turbolink" => true do %>
    <%= image_tag "icons/#{document_icon(@document.current_revision.last)}" %>
    <h4> Download the latest revision here </h4>
  <% end %>
  <%= "From #{@document.user.username} on #{@document.current_revision.last.updated_at.to_date}" %>
  <br />
  <%= "Download count: #{@document.current_revision.last.download_count}" %>
  <br />
</div>