<table cellpadding="0" cellspacing="0" width="100%" class="docs">
 <thead>
 <tr class="cat_title">
  <th></th>
  <th>Title</th>
  <th>Description</th>
  <th>Number of Downloads</th>
  <th>Uploaded by</th>
  <th>Created on</th>
  <th>Last Updated</th>
  <th></th>
 </tr>
 </thead>
 <tbody>
<% documents.each do |document| %>
 <tr class="<%= cycle('odd', 'even') %>">
  <td class="doc_img">
   <% unless document.current_revision.blank? %>
    <% link_to download_document_revision_path(document, 'current') do %>
     <%= image_tag("icons/icon_#{document.current_revision.type}.png", {:alt => "Download File", :width => "40px", :height => "40px"}) %>
    <% end %>
   <% end %>
  </td>
  <td><% link_to document do %><h2><%=h document.title %></h2><% end %></td>
  <td><%=h document.description %></td>
  <td><%=h document.downloaded %></td>
  <td><%=h document.user.full_name unless document.user.nil? %></td>
  <td><%=h document.created_at.strftime('%D') %></td>
  <td><%=h document.updated_at.strftime('%D') %></td>
  <td>
   <% if admin_logged_in? || (logged_in? && document.allowed_to_save) %>
    <span>
     <%= link_to 'Edit', edit_document_path(document), :class => 'edit-link' %>
     &nbsp;
     <%= link_to 'Remove', document_path(document), :confirm => 'Are you sure you want to remove this document?', :method => :delete, :class => 'cancel-link' %>
    </span>
   <% end %>
  </td>
 </tr>
<% end %>
  </tbody>
</table>

