<% my_ancestors = @document.category.ancestors %>
<h2 class="breadcrumb">
	<%= link_to "Home", :controller => "categories" %>&nbsp;/&nbsp;<% my_ancestors.reverse.each do |ancestor_category| %><%= link_to ancestor_category.name, ancestor_category %>&nbsp;/&nbsp;<% end %><%= link_to @document.category.name, @document.category %>
</h2>
<h1 class="main-title">
	<div class="info_box">
		<p>
			<% if @document.readable %>Readable<% else %>Not Readable<% end %>
			<% if @document.writable %>Writable<% else %>Not Writable<% end %>
		</p>
	</div>

	<%=h @document.title %>
	<span>
		<%= link_to 'Edit', edit_document_path(@document), :class => 'edit-link' %> | <%= link_to 'Back', documents_path %>
	</span>
</h1>

<div class="flush">
	<div class="hr_dl"><%= image_tag("bl.png", :alt => "") %></div>
	<div id="dl">
		<div id="dl-padding">
			<div style="float:left; width:25%;">
				<div id="dltop"><div id="dltop-inner"><%= image_tag("bl.png", :alt => "") %></div></div>
				<div id="dlmid">
					<% unless @document.current_revision.blank? %>
						<% link_to document_revision_path(@document, 'current') do %>
							<%= image_tag("http://documents.studentsenate.rpi.edu/images/cobalt/frame/icon_pdf.png", :alt => "Download File") %>
						<% end %>
					<% end %>
				</div>
				<div id="dlbot"><div id="dlbot-inner"><%= image_tag("bl.png", :alt => "") %></div></div>
			</div>
			<div style="padding-top:14px;float:right;width:75%;">
				<div id="dl-link"><div id="dl-link-padding">
					<%= link_to "Download File", download_document_revision_path(@document, 'current') unless @document.current_revision.blank? %>
					<span class="details">3.4 MB PDF from 3/12/09</span>
				</div></div>
				<div id="dl-revs">
					<% if @document.revisions.size > 1 %>
						<h3>Past Revisions:</h3>
						<% @document.revisions.each do |revision| %>
	    				<% if not revision == @document.current_revision %>
	    					<div class="dl-rev"><%= link_to "Revision #{revision.position} (#{revision.created_at.strftime('%D')})", download_revision_path(revision) %></div>
	    				<% end %>
	    			<% end %>
    			<% end %>
    			<div id="seemore-link"><%= link_to "New Revision", new_document_revision_path(@document) %></div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
	<div class="hr_dl2"><%= image_tag("bl.png", :alt => "") %></div>
</div>
<br /><br />
<div id="mc-indent" class="mc-indent">
	<% if @document.description and @document.description != "" %>
		<h2>Description</h2>
		<%= @document.description %>
	<% end %>

	<h2>
		Submitted by <%=h @document.user.full_name %>
		<br />
		Downloaded <%=h @document.downloaded %> times to date
	</h2>
</div>
