<% my_ancestors = @document.category.ancestors %>
<h2 class="breadcrumb">
	<%= link_to "Home", :controller => "categories" %>&nbsp;/&nbsp;<% my_ancestors.reverse.each do |ancestor_category| %><%= link_to ancestor_category.name, ancestor_category %>&nbsp;/&nbsp;<% end %><%= link_to @document.category.name, @document.category %>
</h2>
<h1 class="main-title">
	<div class="info_box">
		<p>
			<% if @document.readable %><%= image_tag("icons/eye_icon.png", :alt => "Public", :title => "This document is visible to everyone") %><% else %><%= image_tag("icons/noeye_icon.png", :alt => "Private", :title => "This document is invisible to others") %><% end %>
			<% if @document.writable %><%= image_tag("icons/write_icon.png", :alt => "Editable", :title => "Others can edit this document") %><% else %><%= image_tag("icons/nowrite_icon.png", :alt => "Not Editable", :title => "Only you can edit this document") %><% end %>
			&nbsp;&nbsp;&nbsp;<%=h @document.downloaded %> downloads
		</p>
	</div>

	<%=h @document.title %>
	<span><%= link_to 'Edit', edit_document_path(@document), :class => 'edit-link' %></span>
</h1>

<div class="flush">
	<div class="hr_dl"><%= image_tag("bl.png", :alt => "") %></div>
	<div id="dl">
		<div id="dl-padding">
			<div id="dl_icon">
				<% unless @document.current_revision.blank? %>
					<% link_to download_document_revision_path(@document, 'current') do %>
						<%= image_tag("icons/icon_#{@document.current_revision.type}.png", :alt => "Download File") %>
					<% end %>
				<% end %>
			</div>
			<div style="padding-top:14px;float:right;width:75%;">
				<div id="dl-link"><div id="dl-link-padding">
					<%= link_to "Download File", download_document_revision_path(@document, 'current') unless @document.current_revision.blank? %>
					<span class="details">from <%= @document.current_revision.user.full_name %> on <%= @document.current_revision.created_at.strftime('%D') %></span>
				</div></div>
				<div id="dl-revs">
					<% if @document.revisions.size > 1 %>
						<h3>Past Revisions:</h3>
						<% @document.revisions.each do |revision| %>
	    				<% if not revision == @document.current_revision %>
	    					<div class="dl-rev">
	    						<%= link_to "Revision #{ revision.position }", download_document_revision_path(@document, revision) %>
	    						<span class="details">from <%= revision.user.full_name %> on <%= revision.created_at.strftime('%D') %></span>
	    					</div>
	    				<% end %>
	    			<% end %>
    			<% end %>
    			<div id="seemore-link"><%= link_to "New Revision", new_document_revision_path(@document) %></div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
	<div class="hr_dl2"><%= image_tag("bl.png", :alt => "") %></div>
</div>
<br /><br />
<div id="mc-indent" class="mc-indent">
	<% if @document.description and @document.description != "" %>
		<%= @document.description %>
		<br /><br />
	<% end %>
</div>
