<!-- Document upload button & modal -->
<%= render partial: "documents/upload" %>

<!-- Category list -->
<ul style="list-style-type: none; padding-left: 15px;" class="categories_nav" >
  <% categories.each do |root| %>
    <% position = 0 %>
    <!-- Show root categories -->
    <li style="display:block-inline" value="root" class="order-<%=position%>">
      <% if root.descendants.length > 0 %>
        <i class="fa fa-minus-square-o button-id-<%=root.id%>" onclick="toggleDescendants(<%= root.id %>, <%= position %>)"></i>
      <% else %>
        <i class="fa fa-square-o button-id-<%=root.id%>"></i>
      <% end %>
      <b> <%= link_to root.name, category_path(root, view_style: "grid") %> </b>
    </li>
    <!-- Subcategories are intially hidden in a tree menu -->
    <% root.descendants.each do |cat| %>
      <li class="parent-id-<%=cat.parent_id%> order-<%=position%>" style="padding-left:<%= 20 * cat.depth %>px; display: block" value="shown"> 
        <!-- only show the subcategories toggle button if this subcategory has descendants -->
        <% if cat.descendants.length > 0 %>
          <i class="fa fa-minus-square-o button-id-<%=cat.id%>" onclick="toggleDescendants(<%= cat.id %>, <%= position %>)"></i>
        <% end %>
        <%= link_to cat.name, category_path(cat, view_style: "grid") %>
      </li>
    <% end %>
    <br />
    <% position += 1 %>
  <% end %>
</ul>