<div class="categories_nav">

  <!-- Document upload button & modal -->
  <%= render partial: "documents/upload" %>

  <!-- Previous category navigation -->
  <% if !@category.nil? and @category.parent %>
    <%= link_to "<< prev", @category.parent %>
  <% elsif !@category.nil? %>
    <%= link_to "<< prev", categories_path %>
  <% end %>

  <div class="categories_list">
    <!-- Title -->
    <% if @category %>
      <h4> <%= "#{@category.name}" %> </h4>
    <% else %>
      <h4> Browse categories </h4>
    <% end %>

    <!-- Category list -->
    <ul class="nav nav-stacked">
      <% categories.each do |cat| %>
        <li>
          <%= link_to cat.name, category_path(cat, view_style: "grid") %>
        </li>
      <% end %>
    </ul>

    <!-- New category button and Edit categories button -->
    <% if !current_user.nil? and current_user.is_admin? %>
      <hr />
      <div class="category_btn">
        <%= link_to "New Category", new_category_path, :class => "category_text" %>
        <%= link_to "Edit Categories", "", :class => "category_text" %>
      </div>
    <% end %>
  </div>
</div>

<!--
<div class="footer"> 
  Copyright 2014 RPI Web Technologies Group
</div>
-->