<% form_for(@category, :html => { :class => 'cmxform', :multipart => true }) do |f| %>
	<%= f.error_messages %>
	<fieldset>
		<ol>
			<li><%= f.label :name %> <%= f.text_field :name %></li>
			<li><%= f.label :description %> <%= f.text_area :description %></li>
			<li><%= f.label :parent_id %> <%= aac_select(Category.roots, {:id =>'category_parent_id', :name => 'category[parent_id]', :selected => @category.parent_id, :option_nil => 'None'}) %></li>
			<li><%= f.label :group %> <%= f.collection_select :group_id, Group.all, :id, :name %></li>
			<li>
				<div style="float:left;"><%= f.label :background %> </div>
				<div style="float:left; margin-left:8px; width:80%;"><%= render :partial => 'backgrounds/select', :locals => {:form => f} %></div>
				<div style="clear:both;"></div>
			</li>
			<li><%= f.label :private, "Is Private" %> <%= f.check_box :private %><span>Checking this box will make this category only visible to my group.</span></li>
			<li><%= f.label :writable, "Everyone can edit" %> <%= f.check_box :writable %><span>Checking this box will make it so that everyone can edit and add docs.</span></li>
			<li><%= f.label :is_featured, "Featured category" %> <%= f.check_box :is_featured %><span>Checking this box will make appear as a featured category on the front page.</span></li>
			<% if !(controller.action_name == "new") %>
			<li><%= f.label :user, "Admin" %> <%= f.collection_select :user_id, User.all, :id, :full_name %></li>
			<% end %>
		</ol>
	</fieldset>
	<p class="submitbutton"><%= f.submit button_text %></p>
<% end %>


