<% content_for :background_img, background_img(@category) %>
<h1 class="main-title">
	<div class="info_box">
		<p>
			<% if @category.private %><%= image_tag("icons/eye_icon.png", :alt => "Public", :title => "This category is visible to everyone") %><% else %><%= image_tag("icons/noeye_icon.png", :alt => "Private", :title => "This category is invisible to others") %><% end %>
			<% if @category.writable %><%= image_tag("icons/write_icon.png", :alt => "Editable", :title => "Anyone can edit this category or add things to it") %><% else %><%= image_tag("icons/nowrite_icon.png", :alt => "Not Editable", :title => "Nobody else can edit this category or add things to it") %><% end %>
		</p>
	</div>
	<%=h @category.name %>
	<span>
		<%=h @category.description %>
		<br />
		<%= link_to 'Edit', edit_category_path(@category), :class => 'edit-link' %>
	</span>
</h1>
<div id="mc-indent" class="mc-indent">
	<%= link_to 'Add Sub-Category', new_category_path(:parent_id => @category.id), :class => "link-button" %>
	<%= link_to 'Add Document', new_document_path(:category_id => @category.id), :class => "link-button" %>
	<div style="clear:both;"></div>
	<br /><br />
	<h2>Sub-Categories</h2>
	<ul>
		<% @category.children.each do |child| %>
	  	<li><%= link_to child.name, child %></li>
		<% end %>
	</ul>
	<br />
	<h2>Documents</h2>
	<ul>
		<% @category.documents.each do |document| %>
		<li><%= link_to document.title, document %></li>
		<% end %>
	</ul>
	
	<br /><br />
	<hr />
	<p><b>Parent:</b> <%=h @category.parent.name unless @category.parent.blank?%></p>
	<p><b>Owned by:</b> <%=h @category.group.name %></p>
	<p><b>Created By:</b> <%=h @category.user.full_name %></p>
</div>
