<div class="banner">
  <div class="btn-group pull-right">
    <% if current_user.nil? %>
      <%= link_to "Sign In", "/auth/cas", :class => "btn btn-default" %>
    <% else %>
      <%= link_to "Sign Out", "/logout", :class => "btn btn-default" %>
      <% if current_user.is_admin? %>
        <%= link_to "Groups", groups_path, :class => "btn btn-default" %>
        <%= link_to "Categories", categories_path, :class => "btn btn-default" %>
        <%= link_to "Users", users_path, :class => "btn btn-default" %>
      <% end %>
    <% end %>
  </div>
  <h3 class="unstyled_link">
    <%= link_to root_path do %>
      <%= image_tag "icons/icon_folder_50.png" %>
      Flagship Docs
    <% end %>
  </h3>
</div>