<div class="banner navbar-form">

  <div class="btn-group pull-right remove_border_radius">
    <% if current_user.nil? %>
      <%= link_to "Home", categories_path, :class => "btn btn-default" %>
      <%= link_to "Sign In", "/auth/cas", :class => "btn btn-default" %>
    <% else %>
      <%= link_to "Home", categories_path, :class => "btn btn-default" %>
      <%= link_to "Sign Out", "/logout", :class => "btn btn-default" %>
      <% if current_user.is_admin? %>
        <%= link_to "Groups", groups_path, :class => "btn btn-default" %>
        <%= link_to "Users", users_path, :class => "btn btn-default" %>
        <!-- New category button and Edit categories button -->
        <%= link_to "New Category", new_category_path, :class => "btn btn-default" %>
        <%= link_to "Edit Categories", manage_categories_path, :class => "btn btn-default" %>
      <% end %>
    <% end %>
  </div>
  
  <h3 class="unstyled_link">
    <%= link_to root_path do %>
      <%= image_tag "icons/icon_folder_50.png" %>
        Flagship Docs
    <% end %>

    <!-- Search field -->
    <%= render partial: "layouts/search.html.erb" %>
  </h3>

</div>