<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
	<title><%= controller.controller_name.titleize %> - Flagship Docs</title>
	<meta name="title" content="Flagship" />
  <%= stylesheet_link_tag "base", :media => 'all' %>
  <%= javascript_include_tag "jquery-1.3.2.min.js" %>
  <%= javascript_include_tag "jquery.tipsy.js" %>
  <%= javascript_include_tag "application.js" %>
  <script type="text/javascript">
    $(document).ready(function() {
					$('#cat_tree_expand').click(function() {
          $('#cat_tree_inset').toggle();
                if ($('#label_show').css("display") == "none") {   // case PREVIOUSLY CLOSED
                        $('#label_hide').hide();
                        $('#label_show').show();
                }
                else {                        // case PREVIOUSLY OPEN
                        $('#label_show').hide();
                        $('#label_hide').show();
                }
                return false;
        });
        $('.info_box p img').tipsy({gravity: 's'});
    });
  </script>
  <script type="text/javascript" language="javascript">
			var searchURL = '<%= search_documents_path(:format=>'js') %>';
	</script>
  <%= yield(:background_img) %>
</head>

<body>
	
	<div id="wrap">
		<div id="header">
			<div id="topbar">
				<div id="topbar-padding">
					<div id="topbar-left">
						<%= render :partial => "documents/search_pane" %>
					</div>
					<div id="topbar-right">
						<h1><a href="#">Login</a></h1>
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>
			<%= render :partial=>'categories/cat_tree' %>

			<h1 class="expand"><a id="cat_tree_expand" href="#"><span id="label_hide" style="display:none;">Hide</span><span id="label_show">Show</span> Categories</a></h1>
		</div>
		
		<div id="wrap-padding">
			<%= yield %>
		</div>
	</div>

</body>

</html>
