<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://a9.com/-/spec/opensearch/1.1/">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
  <title><%= yield(:title) || controller.controller_name.titleize %> - Flagship Docs</title>
  <%= yield(:meta_tags) %>
  <%= stylesheet_link_tag "base", :media => 'all' %>
  <%= javascript_include_tag "jquery-1.3.2.min.js" %>
  <%= javascript_include_tag "jquery.tipsy.js" %>
  <%= javascript_include_tag "new_revision.js" %>
  <%= javascript_include_tag "application.js" %>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_documents_url(:format => :xml) %>" title="Flagship Docs Search" />
  <script type="text/javascript" language="javascript">
    var searchURL = '<%= search_documents_path(:format=>'js') %>';
  </script>
  <%= yield(:background_img) %>
  <%= yield(:head) %>
</head>
<body>
	<%= render :partial => 'layouts/header' %>
	<% if flash[:notice] or flash[:error] %>
		<div id="flash_block"<% if flash[:error] %> class="error"<% end %>>
			<div id="flash_block-padding">
				<% if flash[:notice] %><p><%= flash[:notice] %></p><% end %>
				<% if flash[:error] %><p><%= flash[:error] %></p><% end %>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				setTimeout(function(){
					$("#flash_block").fadeOut("slow", function () {
						$("#flash_block").remove();
					});
				}, 7000);
			});
		</script>
	<% end %>
	<div id="wrap">
		<div id="header">
			<div id="topbar">
				<div id="topbar-padding">
					<div id="topbar-left">
						<%= render :partial => "documents/search_pane" %>
					</div>
					<div id="topbar-right">
						<h1>
							<% if not logged_in? %>
								<%= link_to 'Log in to add/change docs', new_session_path %>
							<% else %>
								<%= link_to current_user.full_name, current_user %>
								&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
								<% if admin_logged_in? %>
									<%= link_to 'Users', users_path %>&nbsp;/&nbsp;
								<% end %>
								<% if admin_logged_in? || current_user.in_one_group? %>
									<%= link_to 'Groups', groups_path %> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
								<% end %>
								<%= link_to 'Logout', session_path, :method => :delete %>
							<% end %>
						</h1>
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>

			<h1 class="expand"><a id="cat_tree_expand" style="display:none;" href="#"><span id="label_hide" style="display:none;">Hide</span><span id="label_show">Show</span> Categories</a></h1>
			
			<%= render :partial=>'categories/cat_tree' %>
		</div>
		
		<div id="wrap-padding">
			<%= yield %>
		</div>
	</div>
	<%= render :partial => 'layouts/footer' %>
</body>

</html>
