<!DOCTYPE html>
<html>
  <head>
    <title>Flagship Docs</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render partial: "layouts/messages" %>
    <div class="row header">
      <%= render partial: "layouts/header" %>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= render partial: "categories/categories_nav.html.erb", locals: {categories: Category.roots} %>
      </div>
      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
  </body>
</html>