<!DOCTYPE html>
<html>
  <head>
    <title>Flagship Docs</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render partial: "layouts/messages" %>
    <div class="page">
      <%= render partial: "layouts/header" %>
      <hr />
      <%= yield %>
    </div>

  </body>
</html>
